Laboratori/P3/P3_SOAP_Servlet_Client/src/conf/xml-resources/web-service-references/FotOkWS/wsdl/localhost_8080/P3_SOAP/FotOkWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Server/" name="FotOkWS">
<types>
<xsd:schema>
<xsd:import namespace="http://Server/" schemaLocation="http://localhost:8080/P3_SOAP/FotOkWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listImages">
<part name="parameters" element="tns:listImages"/>
</message>
<message name="listImagesResponse">
<part name="parameters" element="tns:listImagesResponse"/>
</message>
<message name="searchById">
<part name="parameters" element="tns:searchById"/>
</message>
<message name="searchByIdResponse">
<part name="parameters" element="tns:searchByIdResponse"/>
</message>
<message name="registerImage">
<part name="parameters" element="tns:registerImage"/>
</message>
<message name="registerImageResponse">
<part name="parameters" element="tns:registerImageResponse"/>
</message>
<message name="modifyImage">
<part name="parameters" element="tns:modifyImage"/>
</message>
<message name="modifyImageResponse">
<part name="parameters" element="tns:modifyImageResponse"/>
</message>
<message name="searchByTitle">
<part name="parameters" element="tns:searchByTitle"/>
</message>
<message name="searchByTitleResponse">
<part name="parameters" element="tns:searchByTitleResponse"/>
</message>
<message name="searchByCreaDate">
<part name="parameters" element="tns:searchByCreaDate"/>
</message>
<message name="searchByCreaDateResponse">
<part name="parameters" element="tns:searchByCreaDateResponse"/>
</message>
<message name="searchByAuthor">
<part name="parameters" element="tns:searchByAuthor"/>
</message>
<message name="searchByAuthorResponse">
<part name="parameters" element="tns:searchByAuthorResponse"/>
</message>
<message name="searchByKeywords">
<part name="parameters" element="tns:searchByKeywords"/>
</message>
<message name="searchByKeywordsResponse">
<part name="parameters" element="tns:searchByKeywordsResponse"/>
</message>
<portType name="FotOkWS">
<operation name="listImages">
<input wsam:Action="http://Server/FotOkWS/listImagesRequest" message="tns:listImages"/>
<output wsam:Action="http://Server/FotOkWS/listImagesResponse" message="tns:listImagesResponse"/>
</operation>
<operation name="searchById">
<input wsam:Action="http://Server/FotOkWS/searchByIdRequest" message="tns:searchById"/>
<output wsam:Action="http://Server/FotOkWS/searchByIdResponse" message="tns:searchByIdResponse"/>
</operation>
<operation name="registerImage">
<input wsam:Action="http://Server/FotOkWS/registerImageRequest" message="tns:registerImage"/>
<output wsam:Action="http://Server/FotOkWS/registerImageResponse" message="tns:registerImageResponse"/>
</operation>
<operation name="modifyImage">
<input wsam:Action="http://Server/FotOkWS/modifyImageRequest" message="tns:modifyImage"/>
<output wsam:Action="http://Server/FotOkWS/modifyImageResponse" message="tns:modifyImageResponse"/>
</operation>
<operation name="searchByTitle">
<input wsam:Action="http://Server/FotOkWS/searchByTitleRequest" message="tns:searchByTitle"/>
<output wsam:Action="http://Server/FotOkWS/searchByTitleResponse" message="tns:searchByTitleResponse"/>
</operation>
<operation name="searchByCreaDate">
<input wsam:Action="http://Server/FotOkWS/searchByCreaDateRequest" message="tns:searchByCreaDate"/>
<output wsam:Action="http://Server/FotOkWS/searchByCreaDateResponse" message="tns:searchByCreaDateResponse"/>
</operation>
<operation name="searchByAuthor">
<input wsam:Action="http://Server/FotOkWS/searchByAuthorRequest" message="tns:searchByAuthor"/>
<output wsam:Action="http://Server/FotOkWS/searchByAuthorResponse" message="tns:searchByAuthorResponse"/>
</operation>
<operation name="searchByKeywords">
<input wsam:Action="http://Server/FotOkWS/searchByKeywordsRequest" message="tns:searchByKeywords"/>
<output wsam:Action="http://Server/FotOkWS/searchByKeywordsResponse" message="tns:searchByKeywordsResponse"/>
</operation>
</portType>
<binding name="FotOkWSPortBinding" type="tns:FotOkWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listImages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByCreaDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FotOkWS">
<port name="FotOkWSPort" binding="tns:FotOkWSPortBinding">
<soap:address location="http://localhost:8080/P3_SOAP/FotOkWS"/>
</port>
</service>
</definitions>