Laboratori/P3/P3_SOAP_ServletClient/web/WEB-INF/wsdl/localhost_8080/P3_SOAP/FotOkWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Server/">

<xs:element name="listImages" type="tns:listImages"/>

<xs:element name="listImagesResponse" type="tns:listImagesResponse"/>

<xs:element name="modifyImage" type="tns:modifyImage"/>

<xs:element name="modifyImageResponse" type="tns:modifyImageResponse"/>

<xs:element name="registerImage" type="tns:registerImage"/>

<xs:element name="registerImageResponse" type="tns:registerImageResponse"/>

<xs:element name="searchByAuthor" type="tns:searchByAuthor"/>

<xs:element name="searchByAuthorResponse" type="tns:searchByAuthorResponse"/>

<xs:element name="searchByCreaDate" type="tns:searchByCreaDate"/>

<xs:element name="searchByCreaDateResponse" type="tns:searchByCreaDateResponse"/>

<xs:element name="searchById" type="tns:searchById"/>

<xs:element name="searchByIdResponse" type="tns:searchByIdResponse"/>

<xs:element name="searchByKeywords" type="tns:searchByKeywords"/>

<xs:element name="searchByKeywordsResponse" type="tns:searchByKeywordsResponse"/>

<xs:element name="searchByTitle" type="tns:searchByTitle"/>

<xs:element name="searchByTitleResponse" type="tns:searchByTitleResponse"/>

<xs:complexType name="registerImage">
<xs:sequence>
<xs:element name="image" type="tns:imageWS" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="imageWS">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="datac" type="xs:string" minOccurs="0"/>
<xs:element name="descripcio" type="xs:string" minOccurs="0"/>
<xs:element name="filename" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="tags" type="xs:string" minOccurs="0"/>
<xs:element name="timestamp" type="xs:string" minOccurs="0"/>
<xs:element name="titol" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:imageWS" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAuthor">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAuthorResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listImages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listImagesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByTitle">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByTitleResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywords">
<xs:sequence>
<xs:element name="keywords" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywordsResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyImage">
<xs:sequence>
<xs:element name="image" type="tns:imageWS" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByCreaDate">
<xs:sequence>
<xs:element name="creaDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByCreaDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>